<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gfree_application.gfree">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.GFree"
        android:usesCleartextTraffic="true">
        <activity android:name=".RestaurantReviewPackage.DeleteRestaurantReviewActivity"></activity>
        <activity android:name=".RestaurantReviewPackage.UpdateRestaurantReviewActivity"
            android:noHistory = "true"/>
        <activity android:name=".RestaurantReviewPackage.ReadRestaurantReviewActivity" />
        <activity android:name=".RestaurantReviewPackage.CreateRestaurantReviewActivity" />
        <activity android:name=".RestaurantReviewPackage.EditRestaurantReviewActivity"
            android:noHistory = "true"/>
        <activity android:name=".RestaurantReviewPackage.RestaurantReviewActivity" />
        <activity android:name=".PacketScannerPackage.PacketScannerActivity">
            <meta-data
                android:name="com.google.android.gms.version"
                android:value="@integer/google_play_services_version" /> <!-- version -->
            <!-- make sure added -->
            <meta-data
                android:name="com.google.android.gms.vision.DEPENDENCIES"
                android:value="ocr" /> <!-- barcode,face,ocr make sure added -->
        </activity>
        <activity android:name=".DashboardPackage.HamburgerMenuPackage.ContactActivity" />
        <activity android:name=".DashboardPackage.HamburgerMenuPackage.CreditActivity" />
        <activity android:name=".DashboardPackage.HamburgerMenuPackage.LoginActivity" />
        <activity android:name=".DashboardPackage.HamburgerMenuPackage.RegisterActivity" />
        <activity android:name=".DashboardPackage.HamburgerMenuPackage.RegisterLoginActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DashboardPackage.UserDashboardActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".DashboardPackage.GuestDashboardActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
    </application>

</manifest>